@{
    ViewData["Title"] = "Home Page";
}
<form id="search-form">
    <input id="search" class="form-control" type="text" placeholder="Search">
    <select id="search-type">
        <option value="Artist">Artist</option>
        <option value="Album">Album</option>
    </select>
    <input type="submit"/>
 </form>
