@{
    ViewData["Title"] = "Home Page";
}
<form id="search-form">
    <input id="search" class="form-control" type="text" placeholder="Search">
    <select id="search-type">
        <option value="Artist">Artist</option>
        <option value="Album">Album</option>
    </select>
    <input type="submit"/>
 </form>

<hr />

<h1>Billboard Charts</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Hot 100</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Artist 100</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Billboard 200</a>
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
            <th scope="col">Reviews</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Someone You Loved</td>
            <td>Lewis Capaldi</td>
            <td>
                <div>8.5/10</div>
                <div>6/10</div>
                <div>3.4/5</div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Circles</td>
            <td>Post Malone</td>
            <td>
                <div>10/10</div>
                <div>6/10</div>
                <div>3.4/5</div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Senorita</td>
            <td>Camila Cabelo</td>
            <td>
                <div>10/10</div>
                <div>8.5/10</div>
                <div>4.8/5</div>
            </td>
        </tr>
    </tbody>
</table>