@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form id="search-form">
    <input id="search" class="form-control" type="text" placeholder="Search">
    <select id="search-type">
        <option value="Artist">Artist</option>
        <option value="Album">Album</option>
    </select>
    <input type="submit" />
</form>

<hr />

<h1>Billboard Charts</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Top Current Albums</a>
    </li>
</ul>

<table id="billboard-top-album" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/billboard.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(getBillboardResults());
</script>