@{
    ViewData["Title"] = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Albmer</title>
</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="display-1">Albmer</h1>
        <p class="lead">The one stop shop for all your music review needs</p>
        <hr class="my-4">
        <p>
            For movie reviews, we have IMDb and for game reviews we have IGN. But what do we have for Music?
        </p>

        <center><h2>We've got <strong>Albmer!</strong></h2></center>

        <p> Albmer helps users discover new artists through not only ratings from multiple websites but also numerous charts curated by top Billboard critics.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Get Started</a>
        </p>
    </div>

</body>
</html>