@{
    ViewData["Title"] = "Project Overview";
}
<h1>@ViewData["Title"]</h1>

<h2>Features</h2>
<ul>
    <li>Look at top billboard charts</li>
    <li>Search for reviews by artist or album</li>
    <li>Get reviews from multiple websites</li>
</ul>

<h2>How To Use Albmer</h2>
<ol>
    <li>Type the name of an Artist or Album in the search bar</li>
    <li>Select the "Artist" or "Album" depending on query entered in the search bar</li>
    <li>Click the submit button</li>
    <li>Click on the related search result from the search results list</li>
    <li>Explore the list of albums by the artist or the ratings of the albums</li>
</ol>

<h3>Important Contributions</h3>
<ul>
    <li>Database used for caching results</li>
    <li>Albmer provides an API for developers</li>
    <li>API endpoints are well documented in the README</li>
    <li>Use of MusicBrainz API to fetch artist and album metadata</li>
    <li>Use of CoverArchive API to fetch album art</li>
</ul>