@{
    ViewData["Title"] = "Album Details Page";
}

<script>
    window.onload = function() {
        let id = "@Html.Raw(ViewData["id"])";
        let dp = new detailsPage(id, "album");
        console.log(id);
    }
</script>

<div class="row align-items-center">
    <div class="col-sm-4 text-center">
        <img id="detailsPageAlbum_image" src="https://via.placeholder.com/300.png?text=Album+Profile" style="width:20rem; height:20rem" class="rounded img-thumbnail m-2" alt="Artist/Album image">
    </div>

    <div class="col-sm-8">
        <h1 id="detailsPageAlbum_title"> Album Title </h1>
        <h4 id="detailsPageAlbum_artist"> Artist: </h4>
        <div> All Music: <span id="allmusic_rating">N/A</span> </div>
        <div> Discogs: <span id="discogs_rating">N/A</span> </div>
        <div> Rate Your Music: <span id="rym_rating">N/A</span> </div>
    </div>
</div>

<div class="row mt-2">

    <div id="detailsPageAlbum_playlist">

    </div>

</div>