@{
    ViewData["Title"] = "Details Page";
}

<div class="row">
    <div class="col-sm-4">
        <img id="detailsImage" src="https://imgplaceholder.com/420x320" style="width:20rem" class="rounded float-left" alt="Artist/Album image">
    </div>

    <div class="col-sm-8">
        <h1 id="detailsPageTitle"> Title</h1>
        <p>
            This will be some descriptiosns,This will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosnsThis will be some descriptiosns
        </p>
    </div>
</div>

<div class="row">

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Song</th>
                <th scope="col">Description</th>
                <th scope="col">Reviews</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>10/10</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>10/10</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>sadfas</td>
                <td>the Bird</td>
                <td>10/10</td>
            </tr>
        </tbody>
    </table>

</div>